* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.header {
  height: 10vh;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0 15px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) and (min-width: 1230px) {
  .header__list li {
    padding-bottom: calc(30px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 800px) and (max-width: 1230px) {
  .header__list li {
    padding-bottom: calc(30px + 10 * (100vw - 320px) /1200);
  }
}

.header__list li:last-child {
  padding: 0px;
}
@media (max-width: 800px) {
  .header__list li:last-child {
    padding: 0px;
  }
}

.header__list li .active {
  background-color: #ffbb42;
  color: #fff;
}

.header__link {
  color: #868686;
  font-family: Lato;
  text-transform: uppercase;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .header__link {
    font-size: calc(11px + 5.1 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .header__link {
    font-size: calc(11px + 3 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .header__link {
    padding-top: calc(6px + 6 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .header__link {
    padding-top: calc(6px + 6 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .header__link {
    padding-bottom: calc(6px + 6 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .header__link {
    padding-bottom: calc(6px + 6 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .header__link {
    padding-left: calc(5px + 5 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .header__link {
    padding-left: calc(5px + 5 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .header__link {
    padding-right: calc(5px + 5 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .header__link {
    padding-right: calc(5px + 5 * (100vw - 320px) /1200);
  }
}
@media (max-width: 800px) {
  .header__link {
    font-size: 30px;
    color: #000;
  }
}

.header__link:hover {
  background-color: #25abde;
  color: #fff;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.header__burger {
  display: none;
  z-index: 3;
}
@media (max-width: 800px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
}
@media (max-width: 800px) {
  .header__burger:before, .header__burger:after, .header__burger span {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger span {
  top: 9px;
}
@media (max-width: 800px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #25abde;
    padding: 80px 0px 20px 20px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
}
@media (max-width: 800px) {
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
}
@media (max-width: 800px) {
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}
@media (max-width: 800px) {
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.header__menu.active {
  top: 0;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 800px) {
  .header__list {
    display: block;
    z-index: 30;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.boost {
  background-color: #709dca;
}

.title__item {
  text-align: center;
}

.boost__title {
  color: #ffffff;
  font-family: "Gotham - Black", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.88px;
}
@media (max-width: 767px) {
  .boost__title {
    font-size: calc(19px + 27.2 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .boost__title {
    font-size: calc(19px + 16 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .boost__title {
    padding-top: calc(50px + 60 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .boost__title {
    padding-top: calc(50px + 60 * (100vw - 320px) /1200);
  }
}

.boost__subtitle {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 5px 0px 33px 0px;
}

.boost__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1230px) {
  .boost__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .boost__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1200);
  }
}
@media (max-width: 680px) {
  .boost__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.boost__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46.7px;
}
@media (max-width: 680px) {
  .boost__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
@media (max-width: 680px) and (min-width: 1230px) {
  .boost__item {
    margin-bottom: calc(10px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 680px) and (max-width: 1230px) {
  .boost__item {
    margin-bottom: calc(10px + 10 * (100vw - 320px) /1200);
  }
}

.boost__accept {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}
@media (max-width: 680px) {
  .boost__accept {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
@media (max-width: 680px) and (min-width: 1230px) {
  .boost__accept {
    margin-bottom: calc(10px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 680px) and (max-width: 1230px) {
  .boost__accept {
    margin-bottom: calc(10px + 10 * (100vw - 320px) /1200);
  }
}

.boost__item img {
  height: 40%;
}
@media (min-width: 1230px) {
  .boost__item img {
    padding-right: calc(5px + 5 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .boost__item img {
    padding-right: calc(5px + 5 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .boost__item img {
    padding-left: calc(5px + 5 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .boost__item img {
    padding-left: calc(5px + 5 * (100vw - 320px) /1200);
  }
}

.boost__item input {
  width: 100%;
  height: 100%;
}

.boost__button {
  width: 100%;
  height: 100%;
}

.boost__button button {
  background-color: #ffbb42;
  color: #ffffff;
  font-family: "Open Sans";
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
@media (max-width: 767px) {
  .boost__button button {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .boost__button button {
    font-size: calc(12px + 2 * (100vw / 1200));
  }
}

.boost__button button:hover {
  background: #F3A12C;
  -webkit-box-shadow: inset 0 0 2px 2px #777272;
          box-shadow: inset 0 0 2px 2px #777272;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.boost__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .boost__image img {
    width: 70%;
  }
}

.services__title {
  font-family: "Gotham - Black", sans-serif;
  text-transform: uppercase;
  color: #394b50;
  font-weight: bold;
}
@media (max-width: 767px) {
  .services__title {
    font-size: calc(15px + 25.5 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .services__title {
    font-size: calc(15px + 15 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .services__title {
    padding-top: calc(50px + 50 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .services__title {
    padding-top: calc(50px + 50 * (100vw - 320px) /1200);
  }
}

.services__subtitle {
  color: #394b50;
  line-height: 22px;
  font-family: "Open Sans";
}
@media (max-width: 767px) {
  .services__subtitle {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .services__subtitle {
    font-size: calc(14px + 2 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .services__subtitle {
    padding-bottom: calc(25px + 45 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .services__subtitle {
    padding-bottom: calc(25px + 45 * (100vw - 320px) /1200);
  }
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 1230px) {
  .services__row {
    padding-bottom: calc(20px + 35 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .services__row {
    padding-bottom: calc(20px + 35 * (100vw - 320px) /1200);
  }
}
.services__row .services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
@media (min-width: 1230px) {
  .services__row .services__item {
    padding-bottom: calc(10px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .services__row .services__item {
    padding-bottom: calc(10px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 767px) {
  .services__row .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

@media (min-width: 1230px) {
  .services__logo {
    padding-right: calc(10px + 15 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .services__logo {
    padding-right: calc(10px + 15 * (100vw - 320px) /1200);
  }
}

.services__logo img {
  width: 50px;
  height: 50px;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__item-title {
  color: #394b50;
  font-family: Lato;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 0px 21px 0px;
}
@media (max-width: 767px) {
  .services__item-title {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .services__item-title {
    font-size: calc(14px + 2 * (100vw / 1200));
  }
}

.services__text {
  color: #7b7b7b;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
}

.about {
  background-color: #ffc155;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1250px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15px;
}
@media (min-width: 1230px) {
  .about__body {
    padding-left: calc(40px + 40 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .about__body {
    padding-left: calc(40px + 40 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1250px) {
  .about__body {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1250px) and (min-width: 1230px) {
  .about__body {
    padding-top: calc(20px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1250px) and (max-width: 1230px) {
  .about__body {
    padding-top: calc(20px + 10 * (100vw - 320px) /1200);
  }
}

.about__title {
  color: #ffffff;
  font-family: "Gotham - Black";
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .about__title {
    font-size: calc(15px + 25.5 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .about__title {
    font-size: calc(15px + 15 * (100vw / 1200));
  }
}

.about__text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 24px;
}
@media (min-width: 1230px) {
  .about__text {
    margin-top: calc(15px + 5 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .about__text {
    margin-top: calc(15px + 5 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .about__text {
    margin-bottom: calc(15px + 5 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .about__text {
    margin-bottom: calc(15px + 5 * (100vw - 320px) /1200);
  }
}

.about__button button {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #e7ad48;
  background-color: #ffc155;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  padding: 10px 20px;
}

.about__button button:hover {
  background: #F3A12C;
  -webkit-box-shadow: inset 0 0 1px 1px #777272;
          box-shadow: inset 0 0 1px 1px #777272;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.price {
  background-color: #e7edf3;
}

.price__title {
  color: #394b50;
  font-family: Lato;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 767px) {
  .price__title {
    font-size: calc(15px + 25.5 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .price__title {
    font-size: calc(15px + 15 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .price__title {
    padding-top: calc(40px + 80 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__title {
    padding-top: calc(40px + 80 * (100vw - 320px) /1200);
  }
}

.price__text {
  color: #75888d;
  font-family: Lato;
}
@media (max-width: 767px) {
  .price__text {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .price__text {
    font-size: calc(14px + 4 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .price__text {
    padding-bottom: calc(15px + 25 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__text {
    padding-bottom: calc(15px + 25 * (100vw - 320px) /1200);
  }
}

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1230px) {
  .price__row {
    padding-bottom: calc(30px + 130 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__row {
    padding-bottom: calc(30px + 130 * (100vw - 320px) /1200);
  }
}
@media (max-width: 650px) {
  .price__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.price__item {
  background-color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 650px) {
  .price__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 440px) {
  .price__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

.price__subtitle, .price__subtitle_ {
  color: #818b95;
  font-family: Lato;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .price__subtitle, .price__subtitle_ {
    font-size: calc(18px + 11.9 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .price__subtitle, .price__subtitle_ {
    font-size: calc(18px + 7 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .price__subtitle, .price__subtitle_ {
    padding-top: calc(25px + 32 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__subtitle, .price__subtitle_ {
    padding-top: calc(25px + 32 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .price__subtitle, .price__subtitle_ {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__subtitle, .price__subtitle_ {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1200);
  }
}

.price__cost, .price__cost_ {
  color: #ffbb42;
  font-family: "Lato - Bold";
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .price__cost, .price__cost_ {
    font-size: calc(25px + 59.5 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .price__cost, .price__cost_ {
    font-size: calc(25px + 35 * (100vw / 1200));
  }
}

@media (max-width: 767px) {
  .dollar, .dollar_ {
    font-size: calc(18px + 11.9 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .dollar, .dollar_ {
    font-size: calc(18px + 7 * (100vw / 1200));
  }
}

.price__type, .price__type_ {
  color: #818b95;
  font-family: Lato;
  font-variant: small-caps;
}
@media (max-width: 767px) {
  .price__type, .price__type_ {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .price__type, .price__type_ {
    font-size: calc(14px + 6 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .price__type, .price__type_ {
    padding-bottom: calc(15px + 25 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__type, .price__type_ {
    padding-bottom: calc(15px + 25 * (100vw - 320px) /1200);
  }
}

.price__acount, .price__acount_ {
  color: #b5bbc1;
  font-family: Lato;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: 1230px) {
  .price__button {
    padding-top: calc(28px + 7 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__button {
    padding-top: calc(28px + 7 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .price__button {
    padding-bottom: calc(20px + 28 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__button {
    padding-bottom: calc(20px + 28 * (100vw - 320px) /1200);
  }
}

.price__button button, .price__button_ button {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ffbb42;
}
@media (min-width: 1230px) {
  .price__button button, .price__button_ button {
    padding-top: calc(10px + 5 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__button button, .price__button_ button {
    padding-top: calc(10px + 5 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .price__button button, .price__button_ button {
    padding-bottom: calc(10px + 5 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__button button, .price__button_ button {
    padding-bottom: calc(10px + 5 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .price__button button, .price__button_ button {
    padding-right: calc(15px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__button button, .price__button_ button {
    padding-right: calc(15px + 10 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .price__button button, .price__button_ button {
    padding-left: calc(15px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__button button, .price__button_ button {
    padding-left: calc(15px + 10 * (100vw - 320px) /1200);
  }
}

.price__button button:hover, .price__button_ button:hover {
  background: #F3A12C;
  -webkit-box-shadow: inset 0 0 1px 1px #777272;
          box-shadow: inset 0 0 1px 1px #777272;
  font-size: 17px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.price__item_ {
  background-color: #709dca;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 650px) {
  .price__item_ {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (max-width: 440px) {
  .price__item_ {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

.price__subtitle_ {
  color: #ffffff;
  padding: 87px 0px 30px 0px;
}
@media (max-width: 650px) and (min-width: 1230px) {
  .price__subtitle_ {
    padding-top: calc(25px + 32 * (100vw - 320px) /1200);
  }
}
@media (max-width: 650px) and (max-width: 1230px) {
  .price__subtitle_ {
    padding-top: calc(25px + 32 * (100vw - 320px) /1200);
  }
}
@media (max-width: 650px) and (min-width: 1230px) {
  .price__subtitle_ {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1200);
  }
}
@media (max-width: 650px) and (max-width: 1230px) {
  .price__subtitle_ {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1200);
  }
}

.price__cost_ {
  color: #ffffff;
}

.dollar_ {
  color: #ffffff;
}

.price__type_ {
  color: #ffffff;
}

.price__acount_ {
  color: #ffffff;
}

@media (min-width: 1230px) {
  .price__button_ {
    padding-top: calc(28px + 7 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__button_ {
    padding-top: calc(28px + 7 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .price__button_ {
    padding-bottom: calc(20px + 28 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .price__button_ {
    padding-bottom: calc(20px + 28 * (100vw - 320px) /1200);
  }
}

.how__title {
  color: #394b50;
  font-family: "Gotham - Black";
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 155px 0px 0px 0px;
}

.how__title_ {
  color: #394b50;
  font-family: "Lato Light";
  font-size: 18px;
  line-height: 22px;
  padding: 0px 0px 78px 0px;
}

.how__row_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 126px;
}

.how__first_body {
  max-width: 965px;
  margin: 0px auto;
}

.center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.how__row_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 54px 0px 0px 0px;
  margin: 0px -43.5px;
}

.how__second_body {
  max-width: 1113px;
  margin: 0px auto;
}

.how__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 43.5px;
}

.how__subtitle {
  color: #394b50;
  font-family: Lato;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 0px 28px 0px;
}

.how__text {
  color: #7b7b7b;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  text-align: center;
}

.how__button {
  padding: 91px 0px 149px 0px;
}

.how__button button {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 46px;
  width: 165px;
  background-color: #ffbb42;
}

.how__button button:hover {
  background: #F3A12C;
  -webkit-box-shadow: inset 0 0 1px 1px #777272;
          box-shadow: inset 0 0 1px 1px #777272;
  font-size: 17px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.clients {
  background-color: #ffc155;
}

.clients__title {
  color: #ffffff;
  font-family: "Gotham - Black", sans-serif;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .clients__title {
    font-size: calc(20px + 17 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .clients__title {
    font-size: calc(20px + 10 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .clients__title {
    padding-top: calc(30px + 70 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__title {
    padding-top: calc(30px + 70 * (100vw - 320px) /1200);
  }
}

.clients__title_ {
  color: #ffffff;
  font-family: "Open Sans";
  line-height: 22px;
}
@media (max-width: 767px) {
  .clients__title_ {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1200));
  }
}
@media (min-width: 767px) {
  .clients__title_ {
    font-size: calc(14px + 2 * (100vw / 1200));
  }
}
@media (min-width: 1230px) {
  .clients__title_ {
    padding-bottom: calc(19px + 19 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__title_ {
    padding-bottom: calc(19px + 19 * (100vw - 320px) /1200);
  }
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1230px) {
  .clients__row {
    padding-bottom: calc(40px + 120 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__row {
    padding-bottom: calc(40px + 120 * (100vw - 320px) /1200);
  }
}
@media (max-width: 500px) {
  .clients__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1230px) {
  .clients__item {
    margin-bottom: calc(20px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__item {
    margin-bottom: calc(20px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 800px) {
  .clients__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .clients__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

@media (min-width: 1230px) {
  .clients__img {
    padding-top: calc(20px + 20 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__img {
    padding-top: calc(20px + 20 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .clients__img {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__img {
    padding-bottom: calc(15px + 15 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .clients__img {
    padding-left: calc(10px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__img {
    padding-left: calc(10px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 800px) {
  .clients__img {
    padding-bottom: 0;
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 800px) and (min-width: 1230px) {
  .clients__img {
    padding-top: calc(10px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 800px) and (max-width: 1230px) {
  .clients__img {
    padding-top: calc(10px + 10 * (100vw - 320px) /1200);
  }
}

.clients__body {
  padding-left: 15.5px;
  padding-right: 15.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1230px) {
  .clients__body {
    padding-top: calc(20px + 20 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__body {
    padding-top: calc(20px + 20 * (100vw - 320px) /1200);
  }
}

.clients__text {
  color: #7b7b7b;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
}

.clients__name, .clients__work {
  font-family: Lato;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}
@media (min-width: 1230px) {
  .clients__name, .clients__work {
    padding-top: calc(14px + 6 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__name, .clients__work {
    padding-top: calc(14px + 6 * (100vw - 320px) /1200);
  }
}
@media (min-width: 1230px) {
  .clients__name, .clients__work {
    padding-bottom: calc(20px + 10 * (100vw - 320px) /1200);
  }
}
@media (max-width: 1230px) {
  .clients__name, .clients__work {
    padding-bottom: calc(20px + 10 * (100vw - 320px) /1200);
  }
}

.clients__name {
  color: #f6772c;
}

.clients__work {
  color: #394b50;
}

.news__title {
  color: #394b50;
  font-family: "Gotham - Black", sans-serif;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 154px 0px 0px 0px;
}

.news__title_ {
  color: #394b50;
  line-height: 22px;
  font-size: 16px;
  font-family: "Open Sans Light";
  padding: 0px 0px 38px 0px;
}

.news__row {
  padding: 0px 0px 53px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__body {
  max-width: 934px;
  margin: 0px auto;
}

.item_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 308px;
          flex: 0 0 308px;
}

.item_2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 388px;
          flex: 0 0 388px;
}

.data {
  border: 2px solid #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 14px 0px 17px;
}

.data input {
  line-height: 47px;
  width: 100%;
}

.news__button button {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 47px;
  width: 218px;
  background-color: #ffbb42;
}

.news__button button:hover {
  background: #F3A12C;
  -webkit-box-shadow: inset 0 0 1px 1px #777272;
          box-shadow: inset 0 0 1px 1px #777272;
  font-size: 17px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.news__body_ {
  max-width: 1102px;
  margin: 0px auto;
}

.news__img {
  background: url("../img/news_world.png");
}

.title_item_news {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/news_message.png") center no-repeat;
  padding: 40px 0px 220px 0px;
}

.news__subtitle {
  color: #fff;
  font-weight: bold;
  font-family: "Open Sans";
  font-size: 23px;
  width: 138px;
  margin: 0px auto;
  padding: 105px 0px 25px 0px;
  text-transform: uppercase;
}

.news__text {
  font-family: "Open Sans";
  line-height: 24px;
  width: 138px;
  margin: 0px auto;
  padding: 0px 0px 16px 0px;
}

.news__email {
  color: #ffbb42;
  font-family: "Open Sans";
  line-height: 24px;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__list li {
  color: #394b50;
  font-family: Lato;
  font-size: 13px;
  text-transform: uppercase;
  margin: 126px 30px 0px 0px;
  padding: 3px 3px;
  border-radius: 5px;
}

.news__list li:hover {
  background: #AB9B83;
}

.news__list li:last-child {
  margin: 126px 0px 0px 0px;
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

.news__number {
  color: #394b50;
  font-family: Lato;
  font-size: 23px;
  line-height: 24.15px;
  padding: 29px 0px 23px 0px;
  background: url("../img/new1.png") 22px no-repeat;
}

.news__number:before {
  content: "";
  background: url("../img/new1.png");
}

.news__links {
  padding: 0px 0px 52px 0px;
}

.news__links a {
  padding: 0px 17px 52px 0px;
}

.news__links a:last-child {
  padding: 0px;
}

.footer {
  background-color: #709dca;
  height: 49px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 0px 19px 0px;
}

.footer__text {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}