@import "./null.scss";
@import "./mixin.scss";

body.lock{
	overflow: hidden;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.header {
	height: 10vh;
}
.container {
	max-width: 1180px;
	margin: 0px auto;
	padding: 0 15px;
}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
}
.header__logo {}
.header__menu {}
.header__list {
	display: flex;
}

.header__list li{
	@media (max-width: 800px) {
		@include adaptive_padding_bottom(40, 30);
	 }
}

.header__list li:last-child {
	padding: 0px;
	@media (max-width: 800px) {
	   padding: 0px;
	}
 }

.header__list li .active{
	background-color: #ffbb42;
	color: #fff;	
}
.header__link {
	color: #868686;
	font-family: Lato;
	@include adaptive_font(14,11);
	text-transform: uppercase;
	@include adaptive_padding_top(12,6);
	@include adaptive_padding_bottom(12,6);
	@include adaptive_padding_left(10,5);
	@include adaptive_padding_right(10,5);
	transition-duration: 0.7s;	
	border-radius: 5px;
	@media (max-width: 800px) {
		font-size: 30px;
		color: #000;
	 }
}
.header__link:hover {
	background-color: #25abde;
	color: #fff;
	transition-duration: 0.7s;
}

.header{
	&__burger {
		display: none;
		z-index: 3;
		@media (max-width: 800px) {
		   display: block;
		   position: relative;
		   width: 30px;
		   height: 20px;
		}
	 }
	 &__burger:before,
	 &__burger:after,
	 &__burger span {
		@media (max-width: 800px) {
		   content: "";
		   background-color: #000;
		   position: absolute;
		   width: 100%;
		   height: 2px;
		   left: 0;
		   transition: all 0.3s ease 0s;
		}
	 }
	 &__burger:before {
		top: 0;
	 }
	 &__burger:after {
		bottom: 0;
	 }
	 &__burger span {
		top: 9px;
	 }
	
	 &__menu {
		@media (max-width: 800px) {
		   position: fixed;
		   top: -100%;
		   left: 0;
		   width: 100%;
		   height: 100%;
		   background-color: #25abde;
		   padding: 80px 0px 20px 20px;
		   transition: all 0.5s ease 0s;
		   overflow: auto;
		}
	 }
	 &__burger.active:before {
		@media (max-width: 800px) {
		   transform: rotate(45deg);
		   top: 9px;
		}
	 }
	 &__burger.active:after {
		@media (max-width: 800px) {
		   transform: rotate(-45deg);
		   bottom: 9px;
		}
	 }
	 &__burger.active span {
		@media (max-width: 800px) {
		   transform: scale(0);
		   transition: all 0.3s ease 0s;
		}
	 }
	 &__menu.active {
		top: 0;
	 }
	
	 &__list {
		display: flex;
		@media (max-width: 800px) {
		   display: block;
		   z-index: 30;
		}
	 }
}






.content{
	flex: 1 0 auto;
}







.boost {
	background-color: #709dca;
}
.title__item {
	text-align: center;
}
.boost__title {
	color: #ffffff;
	font-family: "Gotham - Black", sans-serif;
	@include adaptive_font(35,19);
	text-transform: uppercase;
	letter-spacing: -0.88px;	
	@include adaptive_padding_top(110,50);
}
.boost__subtitle {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 16px;
	padding: 5px 0px 33px 0px;
}
.boost__row {
	display: flex;
	justify-content: space-between;
	@include adaptive_padding_bottom(70,35);
	@media(max-width: 680px){
		flex-wrap: wrap;
	}
}
.boost__item {
	flex: 0 0 20%;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 46.7px;
	@media(max-width: 680px){
		flex: 0 0 40%;
		@include adaptive_margin_bottom(20,10);
	}
}
.boost__accept{
	flex: 0 0 20%;
	@media(max-width: 680px){
		flex: 0 0 40%;
		@include adaptive_margin_bottom(20,10);
	}
}
.boost__item img{
	height: 40%;
	@include adaptive_padding_right(10,5);
	@include adaptive_padding_left(10,5);
}
.boost__item input{
	width: 100%;
	height: 100%;
}
.boost__button {
	width: 100%;
	height: 100%;
}
.boost__button button{
	background-color: #ffbb42;
	color: #ffffff;
	font-family: "Open Sans";
	@include adaptive_font(14,12);
	text-transform: uppercase;
	width: 100%;
	height: 100%;
	transition-duration: 0.7s;	
}
.boost__button button:hover{
	background: #F3A12C;
	box-shadow: inset 0 0 2px 2px #777272;
	transition-duration: 0.7s;
}
.boost__image {
	display: flex;
	justify-content: center;
}

.boost__image img{
	@media(max-width: 767px){
		width: 70%;
	}
}








.services {}
.services__title {
	font-family: "Gotham - Black", sans-serif;
	@include adaptive_font(30,15);
	text-transform: uppercase;
	color: #394b50;
	font-weight: bold;
	@include adaptive_padding_top(100,50);
}
.services__subtitle {
	color: #394b50;
	@include adaptive_font(16,14);
	line-height: 22px;
	font-family: "Open Sans";
	@include adaptive_padding_bottom(70,25);
}
.services__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	@include adaptive_padding_bottom(55,20);

.services__item {
	display: flex;
	flex: 0 0 40%;
	@include adaptive_padding_bottom(20,10);
	@media(max-width: 767px){
		flex: 0 0 70%;
	}
}
}
.services__logo {
	@include adaptive_padding_right(25,10);
}
.services__logo img{
	width: 50px;
	height: 50px;
}
.services__body {
	display: flex;
	flex-direction: column;
}
.services__item-title {
	color: #394b50;
	font-family: Lato;
	@include adaptive_font(16,14);
	text-transform: uppercase;
	font-weight: bold;
	padding: 0px 0px 21px 0px;
}
.services__text {
	color: #7b7b7b;
	font-family: "Open Sans";
	font-size: 13px;
	line-height: 22px;
}







.about {
	background-color: #ffc155;
}
.about__row {
	display: flex;
	@media (max-width: 1250px){
		flex-direction: column;
		align-items: center;
	}
}
.about__image {}
.about__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include adaptive_padding_left(80,40);
	padding-right: 15px;
	@media (max-width: 1250px){
		padding-left: 0;
		padding-right: 0;
		@include adaptive_padding_top(30,20);
	}
}
.about__title {
	color: #ffffff;
	font-family: "Gotham - Black";
	@include adaptive_font(30,15);
	font-weight: bold;
	text-transform: uppercase;
}
.about__text {
	color: #ffffff;	
	font-family: "Open Sans";
	font-size: 13px;
	line-height: 24px;
	@include adaptive_margin_top(20,15);
	@include adaptive_margin_bottom(20,15);
}
.about__button {}
.about__button button{
	color: #ffffff;
	font-family: Lato;		
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #e7ad48;
	background-color: #ffc155;
	transition-duration: 0.7s;	
	padding: 10px 20px;
}
.about__button button:hover{
	background: #F3A12C;
	box-shadow: inset 0 0 1px 1px #777272;
	transition-duration: 0.7s;	
}






.price {
	background-color: #e7edf3;
}
.price__title {
	color: #394b50;
	font-family: Lato;
	@include adaptive_font(30,15);
	letter-spacing: -0.75px;
	text-transform: uppercase;
	font-weight: bold;
	@include adaptive_padding_top(120,40);
}
.price__text {
	color: #75888d;
	font-family: Lato;
	@include adaptive_font(18,14);
	@include adaptive_padding_bottom(40,15);
}
.price__row {
	display: flex;
	@include adaptive_padding_bottom(160,30);
	align-items: center;
	@media (max-width: 650px){
		flex-wrap: wrap;
		justify-content: center;
	}
}
.price__item {
	background-color: #ffffff;
	flex: 0 0 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: 650px){
		flex: 0 0 50%;
	}
	@media (max-width: 440px){
		flex: 0 0 70%;
	}
}
.price__subtitle, .price__subtitle_ {
	color: #818b95;
	font-family: Lato;
	@include adaptive_font(25,18);
	text-transform: uppercase;
	@include adaptive_padding_top(57,25);
	@include adaptive_padding_bottom(30,15);
}
.price__cost, .price__cost_ {
	color: #ffbb42;
	font-family: "Lato - Bold";
	@include adaptive_font(60,25);
	text-transform: uppercase;
}
.dollar, .dollar_ {
	@include adaptive_font(25,18);
}
.price__type, .price__type_ {
	color: #818b95;
	font-family: Lato;
	@include adaptive_font(20,14);
	font-variant: small-caps;
	@include adaptive_padding_bottom(40,15);
}
.price__line_1 {}
.price__acount, .price__acount_ {
	color: #b5bbc1;
	font-family: Lato;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}
.price__line_2 {}
.price__button {
	@include adaptive_padding_top(35,28);
	@include adaptive_padding_bottom(48,20);
}
.price__button button, .price__button_ button{
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	text-transform: uppercase;
	@include adaptive_padding_top(15,10);
	@include adaptive_padding_bottom(15,10);
	@include adaptive_padding_right(25,15);
	@include adaptive_padding_left(25,15);
	background-color: #ffbb42;
}
.price__button button:hover, .price__button_ button:hover{
	background: #F3A12C;
	box-shadow: inset 0 0 1px 1px #777272;
	font-size: 17px;
	transition-duration: 0.7s;	
}

.price__item_ {
	background-color: #709dca;
	flex: 0 0 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: 650px){
		flex: 0 0 50%;
	}
	@media (max-width: 440px){
		flex: 0 0 70%;
	}
}
.price__subtitle_ {
	color: #ffffff;
	padding: 87px 0px 30px 0px;
	@media (max-width: 650px){
		@include adaptive_padding_top(57,25);
	@include adaptive_padding_bottom(30,15);
	}
}
.price__cost_ {
	color: #ffffff;
}
.dollar_ {
	color: #ffffff;
}
.price__type_ {
	color: #ffffff;
}
.price__line_1_ {}
.price__acount_ {
	color: #ffffff;
}
.price__line_2_ {}
.price__button_{
	@include adaptive_padding_top(35,28);
	@include adaptive_padding_bottom(48,20);
}







.how {}
.how__title {
	color: #394b50;
	font-family: "Gotham - Black";
	font-size: 30px;
	line-height: 22px;
	letter-spacing: -0.75px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 155px 0px 0px 0px;
}
.how__title_ {
	color: #394b50;
	font-family: "Lato Light";
	font-size: 18px;
	line-height: 22px;
	padding: 0px 0px 78px 0px;
}
.how__row_first {
	display: flex;
	justify-content: space-between;
	height: 126px;
}
.how__first_body {
	max-width: 965px;
	margin: 0px auto;
}
.how__image {}
.center {
	align-self: center;
}
.top {
	align-self: flex-start;
}
.bottom {
	align-self: flex-end;
}
.how__row_second {
	display: flex;
	padding: 54px 0px 0px 0px;
	margin: 0px -43.5px;
}
.how__second_body {
	max-width: 1113px;
	margin: 0px auto;
}
.how__item {
	flex: 0 0 25%;
	padding: 0px 43.5px;
}
.how__subtitle {
	color: #394b50;
	font-family: Lato;
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 0px 28px 0px;
}
.how__text {
	color: #7b7b7b;
	font-family: "Open Sans";
	font-size: 13px;
	line-height: 22px;
	text-align: center;
}
.how__button {
	padding: 91px 0px 149px 0px;
}
.how__button button{
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 46px;
	width: 165px;
	background-color: #ffbb42;
}
.how__button button:hover{
	background: #F3A12C;
	box-shadow: inset 0 0 1px 1px #777272;
	font-size: 17px;
	transition-duration: 0.7s;	
}








.clients {
	background-color: #ffc155;
}
.clients__title {
	color: #ffffff;
	font-family: "Gotham - Black", sans-serif;
	@include adaptive_font(30,20);
	line-height: 22px;
	font-weight: bold;
	text-transform: uppercase;
	@include adaptive_padding_top(100, 30);
}
.clients__title_ {
	color: #ffffff;
	font-family: "Open Sans";
	@include adaptive_font(16,14);
	line-height: 22px;
	@include adaptive_padding_bottom(38,19);
}
.clients__row {
	display: flex;
	flex-wrap: wrap;
	@include adaptive_padding_bottom(160,40);
	justify-content: space-between;
	@media(max-width: 500px){
		justify-content: center;
	}
}
.clients__item {
	flex: 0 0 45%;
	background-color: #ffffff;
	display: flex;
	@include adaptive_margin_bottom(30,20);
	@media(max-width: 800px){
		flex-direction: column;
		padding: 0;
	}
	@media(max-width: 500px){
		flex: 0 0 70%;
	}
}
.clients__img {
	@include adaptive_padding_top(40,20);
	@include adaptive_padding_bottom(30,15);
	@include adaptive_padding_left(20,10);
	@media(max-width: 800px){
		@include adaptive_padding_top(20,10);
		padding-bottom: 0;
		padding-left: 0;
		text-align: center;
	}
}
.clients__body {
	padding-left: 15.5px;
	padding-right: 15.5px;
	@include adaptive_padding_top(40,20);
	display: flex;
	flex-direction: column;
}
.clients__text {
	color: #7b7b7b;
	font-family: "Open Sans";
	font-size: 13px;	
	line-height: 22px;
}
.clients__name, .clients__work{
	font-family: Lato;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	@include adaptive_padding_top(20,14);
	@include adaptive_padding_bottom(30,20);
}
.clients__name {
	color: #f6772c;
}
.clients__work {
	color: #394b50;
}







.news {}
.news__title {
	color: #394b50;
	font-family: "Gotham - Black", sans-serif;
	font-size: 30px;
	line-height: 22px;
	letter-spacing: -0.75px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 154px 0px 0px 0px;
}
.news__title_ {
	color: #394b50;
	line-height: 22px;
	font-size: 16px;
	font-family: "Open Sans Light";
	padding: 0px 0px 38px 0px;
}
.news__row {
	padding: 0px 0px 53px 0px;
	display: flex;
	justify-content: space-between;
}
.news__body {
	max-width: 934px;
	margin: 0px auto;
}
.news__item {}
.item_1 {
	flex: 0 0 308px;
}
.item_2 {
	flex: 0 0 388px;
}
.data {
	border: 2px solid #dddddd;
	display: flex;
}
.data img{
	align-self: center;	
	padding: 0px 14px 0px 17px;
}
.data input{
	line-height: 47px;
	width: 100%;
}
.news__button {}
.news__button button{
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 47px;
	width: 218px;
	background-color: #ffbb42;
}
.news__button button:hover{
	background: #F3A12C;
	box-shadow: inset 0 0 1px 1px #777272;
	font-size: 17px;
	transition-duration: 0.7s;	
}
.news__body_ {
	max-width: 1102px;
	margin: 0px auto;
}
.news__img {
	background: url('../img/news_world.png');
}
.title_item_news {
	text-align: center;
	display: flex;
	flex-direction: column;
	background: url('../img/news_message.png') center no-repeat;
	padding: 40px 0px 220px 0px;
}
.news__subtitle {
	color: #fff;
	font-weight: bold;
	font-family: "Open Sans";
	font-size: 23px;
	width: 138px;
	margin: 0px auto;
	padding: 105px 0px 25px 0px;
	text-transform: uppercase;
}
.news__text {
	font-family: "Open Sans";
	line-height: 24px;
	width: 138px;
	margin: 0px auto;
	padding: 0px 0px 16px 0px;
}
.news__email {
	color: #ffbb42;
	font-family: "Open Sans";
	line-height: 24px;
}
.news__menu {}
.news__list {
	display: flex;
	justify-content: center;
}
.news__list li{
	color: #394b50;
	font-family: Lato;
	font-size: 13px;
	text-transform: uppercase;
	margin: 126px 30px 0px 0px;
	padding: 3px 3px;
	border-radius: 5px;
}
.news__list li:hover{
	background: #AB9B83;

}
.news__list li:last-child{
	margin: 126px 0px 0px 0px;
	transition-duration: 0.9s;
}
.news__number {
	color: #394b50;
	font-family: Lato;	
	font-size: 23px;
	line-height: 24.15px;
	padding: 29px 0px 23px 0px;
	background: url('../img/new1.png')22px no-repeat;
}
.news__number:before{
	content: '';
	background: url('../img/new1.png');
}
.news__links{
	padding: 0px 0px 52px 0px;
}
.news__links a{
	padding: 0px 17px 52px 0px;
}
.news__links a:last-child{
	padding: 0px;
}



.footer {
	background-color: #709dca;
	height: 49px;
}
.footer__row{
	display: flex;
	justify-content: center;
	padding: 17px 0px 19px 0px;
}
.footer__text {
	color: #ffffff;
	font-size: 13px;
	text-align: center;
}